body{

}

#title{
  background-color:#ff4c68;
  color: white;  /* #fff=white and #000=black */
}

.container-fluid{
  padding: 3% 15% ;
  overflow: hidden;


}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
   line-height: 1.5 /* doesnt need any unit */

}
h2{
  font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat';
}
h3{
  font-family:"Montserrat";

}
.hht{
  font-size: 3.5rem;
  padding: 100px 200px 10px;

}
p{
  color:#8f8f8f;
}
/* NAVIGATION BAR */
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-light;
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

/* download buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
margin-bottom: -30%;
margin-left: 25%;
}

/* features */
#features{
  padding: 7% 15%;
  /* position:relative;
  z-index: +1; */
}
.features-item{
  text-align: center;
  padding: 4.5%;
}
.icon{
  padding-bottom: 1rem;
  color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color:white;
}
.testimonials-icon{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
background-color: #ef8172;
padding-bottom: 3%;
text-align: center;
}
.press-icon{
  width: 15%;
  margin:20px 20px 50px;
}
/* pricing session */
#pricing{
  padding:100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  font-family: 'Montserrat';
  color: white;
}
.hii{
  position: absolute;
  left: 150px;
  width: 200px;
  height: 200px;
}
#footer{
  text-align: center;
  padding-top: 100px;
}
.ffa{
  width:4%;
  /* margin:20px 10px; can also be usen for media icon spaccing */
}
.done{
  padding-top: 20px;
}

/* MEDIA QUERY USING CSS */
@media (max_width:1028px)  {
  #title{
    text-align: center;
  }
.title-image{
  position: static;
  transform: rotate(0);
}
}
